.AboutPageManagementBlockItem {
}

.AboutPageManagementBlock__list-item {

  position: relative;
  cursor: default;


  &:hover {
    .AboutPageManagementBlock__list-item-text {
      opacity: 1;
    }

    .AboutPageManagementBlock__list-item-number {
      opacity: 1;
    }

    .AboutPageManagementBlock__list-item-image-wr {
      transform: translateY(0);
      opacity: 1;
    }
    .AboutPageManagementBlockItem__image-wr{
      grid-template-rows: 1fr;
    }
  }
}

.AboutPageManagementBlock__list-item-number, .AboutPageManagementBlock__list-item-text {
  transition: opacity .2s ease;
}

.AboutPageManagementBlock__list-item-number {
  font-family: Inter;
  font-size: clamp(1.25rem, 1.071rem + 0.893vw, 1.5rem);
  color: var(--color-font-secondaty);
  opacity: 0;
  margin-bottom: 10px;
}

.AboutPageManagementBlock__list-item-text-wr {
  white-space: nowrap;
  border-top: 1px solid #FFFFFF0D;
}

.AboutPageManagementBlock__list-item-text {
  padding: 8px 0 0;

  font-family: Bebas-Neue;
  opacity: .2;
  color: var(--color-font-secondaty);
  font-size: clamp(2.5rem, 0.268rem + 11.161vw, 5.625rem);
  font-weight: 700;
  line-height: 100%;

  @media screen and (min-width: 1280px) {
    font-size: 8rem;
  }
}

.AboutPageManagementBlockItem:last-child .AboutPageManagementBlock__list-item-text-wr {
  border-bottom: 1px solid #FFFFFF0D;
}

.AboutPageManagementBlockItem__image-wr {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: .4s;
  @media screen and (min-width: 1280px) {
    display: none;
  }

}

.AboutPageManagementBlockItem__image-content{
  overflow: hidden;
}