.Footer {
  background-color: rgba(31, 31, 34, 1);
  padding: 0 0 64px;

  & .page {
    padding-top: 64px;
    display: grid;
    grid-template-areas: 'logo' 'middle' 'bottom';
  }
}

.Footer__logo {
  grid-area: logo;
  margin-bottom: 62px;
}

.Footer__middle {
  grid-area: middle;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 64px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 128px;
    flex-direction: row;
  }
}

.Footer__bottom {
  grid-area: bottom;
}

.Footer__middle-left {
  margin-bottom: 64px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 128px;
    margin-bottom: 0;
    width: 60%;
  }
}

.Footer__middle-left-title {
  font-family: Bebas-Neue;
  font-weight: 700;
  line-height: 110%;
  font-size: clamp(2.5rem, 1.429rem + 5.357vw, 4rem);
  color: var(--color-font-secondaty);
  margin-bottom: 40px;
}

.Footer__middle-left-description {
  font-family: Inter;
  font-weight: 400;
  font-size: clamp(1.125rem, 0.857rem + 1.339vw, 1.5rem);
  color: var(--color-font-secondaty);
  line-height: 150%;

  @media screen and (min-width: 1280px) {
    width: 70%;
  }
}

.Footer__middle-right {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 24px;

  @media screen and (min-width: 1280px) {
    text-align: right;
    align-items: flex-end;
  }
}

.Footer__middle-right-item {
  transition: color .4s ease;
  width: fit-content;
  font-family: Inter;
  color: var(--color-font-secondaty);
  font-size: clamp(1.125rem, 0.857rem + 1.339vw, 1.5rem);
  line-height: 150%;

  &:hover {
    color: var(--color-accent);
  }
}

.Footer__middle-right-socials {
  display: flex;
  gap: 16px;
  width: fit-content;
}

.Footer__middle-right-socials-item {
  width: 40px;
  height: 40px;

  & svg {
    transition: opacity .4s ease, fill .4s ease;
    fill: rgba(255, 255, 255, 0.3);
  }
}

.Footer__middle-right-socials-item-vk {

  &:hover svg {
    fill: #0077ff;
  }
}

.Footer__middle-right-socials-item-whatsapp {
  &:hover svg {
    fill: #27a7e7;
  }
}

.Footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  @media screen and (min-width: 1280px) {
    align-items: center;
    flex-direction: row;
  }
}

.Footer__bottom-left{
  display: grid;
  gap: 24px;
}

.Footer__bottom-left-copy {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--color-font-secondaty);
  margin-right: 40px;
}

.Footer__bottom-left-privacy {
  transition: opacity .4s ease;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--color-font-secondaty);
  opacity: .2;

  &:hover {
    opacity: 1;
  }
}