.EventsPageTabs {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.EventsPageTabs__tabs {
  position: relative;
  padding-bottom: 40px;
  max-width: calc(100vw - 40px);
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);

  &::-webkit-scrollbar {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    max-width: calc(100vw - 80px);
  }
}

.EventsPageTabs__tabs-scroll {
  display: flex;
  gap: 64px;
  min-width: 100%;
}

.EventsPageTabs__tab {
  transition: opacity .4s ease;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Inter;
  line-height: 150%;
  color: var(--color-font-secondaty);
  opacity: .5;

  &.active {
    opacity: 1;
  }
}

.EventsPageTabs__content {
  display: grid;
  gap: 24px;
}
