.PreviewBlock {
  padding: 150px 0 64px;
  background: linear-gradient(#ececec, #c7c7c7);

  @media screen and (min-width: 768px) {
    padding: 200px 0 64px;

  }

  @media screen and (min-width: 960px) {
    padding: 180px 0 148px;
  }

  @media screen and (min-width: 1680px) {
    padding: 220px 0 148px;
  }
}

.PreviewBlock__preview {
  margin-bottom: 64px;

  @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: 33% 33% 20%;
    justify-content: space-between;
    gap: 46px;
    align-items: flex-end;
    margin-bottom: 120px;
  }
  @media screen and (min-width: 1680px) {
    grid-template-columns: max(570px) max(570px) 395px;
  }
}

.PreviewBlock__preview-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.PreviewBlock__preview-item--left, .PreviewBlock__preview-item--right{
  display: none;
  @media screen and (min-width: 960px) {
    display: flex;
  }
}


.PreviewBlock__preview-center-title {
  font-size: clamp(2rem, 0.316rem + 3.509vw, 4rem);
  display: none;
  @media screen and (min-width: 960px) {
    display: inline-block;
  }
}

.PreviewBlock__preview-center-description {
  font-size: 1.5rem;
  margin: 20px 0 60px;
  @media screen and (min-width: 1280px) {
    margin: 20px 0 90px;
  }

  @media screen and (min-width: 1680px) {
    margin: 40px 0 120px;
  }
}

.PreviewBlock__preview-image {
  width: 100%;
  filter: grayscale(1);
}