.ButtonBurger {
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 0;
  & svg{
    fill: var(--color-font-primary);
  }
}

.ButtonBurger:hover {
  & svg {
    fill: var(--color-accent);
  }
}