.ProjectsPageDropDown {
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding: 32px;
}

.ProjectsPageDropDown__title {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover{
    opacity: 1;
  }

  &:hover .ProjectsPageDropDown__title_icon{
    opacity: 1;
  }


  @media screen and (min-width: 1280px) {
    color: var(--color-font-secondaty);
    font-weight: 700;
    font-family: Bebas-Neue;
    font-size: 5rem;
    line-height: 110%;
    opacity: .1;
  }
}

.ProjectsPageDropDown__title_icon{
  opacity: 0;
}

.ProjectsPageDropDown__inner{
  margin-top: 24px;
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.4s;
}

.ProjectsPageDropDown__inner-wr{
  overflow: hidden;
}

.ProjectsPageDropDown__inner-text{
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Inter;
  line-height: 150%;
  color: var(--color-font-secondaty);
  opacity: .5;

  @media screen and (min-width: 1280px) {
    max-width: 47%;
  }
}



.ProjectsPageDropDown__details[open] {
  & .ProjectsPageDropDown__title, .ProjectsPageDropDown__title_icon {
    opacity: 1;
  }

  & .ProjectsPageDropDown__title_icon {
    transform: rotateZ(45deg);
  }
  & .ProjectsPageDropDown__inner{
    grid-template-rows: 1fr;
  }
}





.ProjectsPageDropDown__title, .ProjectsPageDropDown__title_icon {
  transition: opacity .4s ease, transform .4s ease;
}