.AboutPageManagementBlock {
  padding-bottom: 144px;

  & .AboutPageManagementBlock__info {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 418px;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.AboutPageManagementBlock__description{
  font-size: 5rem;
  line-height: 110%;
  font-family: Bebas-Neue;
  font-weight: 700;
  color: var(--color-font-secondaty);
}