.AboutPageManagementBlock {
  padding-bottom: 144px;

  & .AboutPageManagementBlock__info {
    display: grid;
    grid-template-columns: 458px 60%;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.AboutPageManagementBlock__description {
  margin-bottom: 64px;
  font-size: clamp(0.875rem, 0.607rem + 1.339vw, 1.25rem);
  line-height: 110%;
  font-family: Bebas-Neue;
  font-weight: 700;
  color: var(--color-font-secondaty);
}

.AboutPageManagementBlock__image {
  object-fit: cover;
  width: 100%;
  max-width: 458px;
  height: 100%;
  max-height: 458px;
  border-radius: 50%;
}
