.Info__title {
  text-align: center;
  line-height: 100%;
  font-size: var(--size-font-main);
  font-weight: 700;

  & span {
    color: var(--color-accent);
  }
}

.Info__bottom {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 168px 168px 168px;
  justify-content: space-between;
}

.Info__number {
  font-size: 4.5rem;
  margin-bottom: 16px;
}

.Info__description {
  font-size: 1.5rem;
  line-height: 110%;
}
