.PartnersPagePartnersPossibilities {

}

.PartnersPagePartnersPossibilities__title{
  display: flex;
  gap: 32px;
  align-items: center;
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--color-font-secondaty);
  font-family: Inter;

  &::before{
    content: '';
    width: 40px;
    height: 2.5px;
    background-color: var(--color-accent);
  }
}