.Header {
  padding: 26px 0 26px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ECECEC;

  & .container {
    display: grid;
    grid-template-columns: 570px 570px 395px;
    align-items: center;
    justify-content: space-between;
  }
}

.Header__logo {
  align-self: flex-start;
}

.Header__burger {
  justify-self: flex-end;
}
