.SupportFond {
  padding: 64px 0;

  background-color: var(--color-accent);
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 107px 0 100px;
  }

  & .page {
    position: relative;
    z-index: 2;
  }
}

.SupportFond__title {
  font-size: clamp(2.5rem, 1.429rem + 5.357vw, 4.5rem);
  font-weight: 700;
  font-family: Bebas-Neue;
  line-height: 100%;
  color: var(--color-font-secondaty);

  @media screen and (min-width: 960px) {
    max-width: 80%;
    font-size: 5куь;
  }
}

.SupportFond__description {
  margin: 24px 0 48px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Inter;
  line-height: 120%;
  color: var(--color-font-secondaty);

  @media screen and (min-width: 768px) {
    font-size: 1.25rem;
    margin: 40px auto 48px;
  }

  @media screen and (min-width: 960px) {
    font-size: 1.25rem;
    margin: 40px auto 48px;
    max-width: 60%;
  }

  @media screen and (min-width: 1280px) {
    margin: 70px auto 120px;
    max-width: 25%;
  }
}

.SupportFond__image {
  transform: rotateY(180deg);
  position: absolute;
  right: 87px;
  top: 90px;
  fill: rgba(0, 0, 0, .08);

  @media screen and (max-width: 1279px ) {
    display: none;
  }
}