.EventsPageTable {
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
  table-layout: fixed;
}

.EventsPageTable__head {
  text-align: left;

  background-color: var(--color-accent);
}

.EventsPageTable__title {
  padding: 16px 0 16px 40px;
  font-family: Bebas-Neue;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 120%;
  color: var(--color-font-secondaty);
}
