.TitlePage {
  color: var(--color-accent);
  font-family: Bebas-Neue;
  font-weight: 700;
  font-size: clamp(6rem, 0.464rem + 27.679vw, 13.75rem);

  @media screen and (min-width: 768px) {
    font-size: 16.25rem;

  }
}