.MissionBlock {
  padding: 80px 0 64px;

  @media screen and (min-width: 768px) {
    padding: 128px 0 ;
  }
  @media screen and (min-width: 1280px) {
    padding: 144px 0 253px;
  }

  & .page {
    display: grid;
    gap: 64px;
    @media screen and (min-width: 920px) {
      grid-template-columns: 250px auto;
      grid-column-gap: 100px;
      justify-content: space-between;
      align-items: flex-start;
    }

    @media screen and (min-width: 1020px) {
      grid-column-gap: 180px;
    }

    @media screen and (min-width: 1680px) {
      grid-column-gap: 418px;
    }
  }
}

.MissionBlock__left {
  //width: 61%;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-right: 30px;

  @media screen and (min-width: 768px) {
    gap: 128px;

  }

  @media screen and (min-width: 1680px) {
    padding-right: 169px;
  }
}

.MissionBlock__title {
  color: var(--color-font-secondaty);
  font-weight: 700;
  font-size: clamp(2.5rem, 1.237rem + 2.632vw, 4rem);
  line-height: 110%;
  margin-bottom: 24px;
}

.MissionBlock__info {
  font-family: Bebas-Neue;
  color: var(--color-font-secondaty);
  font-size: clamp(1.85rem, 1.303rem + 1.14vw, 2.5rem);
  font-weight: 700;
  line-height: 120%;

  & span {
    transition: opacity .25s linear;
  }
}

.MissionBlock__info {
  width: 100%;
}

.MissionBlock__info .div_opacity {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
}