.PartnersPage-container {
  & .page {
    padding-top: 150px;

    @media screen and (min-width: 768px) {
      padding-top: 200px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 250px;
    }
  }
}

.PartnersPage-wr {
  margin-top: 32px;
  display: grid;
  gap: 80px;
  
  @media screen and (min-width: 768px) {
    gap: 124px;
    margin-top: 64px;
  }
  @media screen and (min-width: 1280px) {
    gap: 180px;
    margin-top: 64px;
  }
}

.PartnersPage__title {
  font-size: clamp(4.5rem, -0.768rem + 14.048vw, 11.875rem);
}

.PartnersPage__preview {
  display: flex;
}

.PartnersPage__preview__right {

}

.PartnersPage__bottom {
  margin: 40px 0;
  display: grid;
  gap: 40px;
  justify-content: space-between;

  @media screen and (min-width: 520px) {
    grid-template-columns: 168px 168px 168px;
  }

  @media screen and (min-width: 768px) {
    margin: 64px 0;
  }

  @media screen and (min-width: 1280px) {
    margin: 64px 0 130px;
  }
}

.PartnersPage__number {
  font-size: 5rem;
  margin-bottom: 16px;

  @media screen and (min-width: 520px) {
    font-size: 4.5rem;
  }
}

.PartnersPage__description {
  font-size: 1.5rem;
  line-height: 110%;
  @media screen and (max-width: 520px) {
    width: 60%;
  }
}

