.EventsPage {
}

.EventsPage-wr.page{
  padding-top: 150px;
  padding-bottom: 180px;
  @media screen and (min-width: 768px)  {
    padding-top: 200px;
  }
  @media screen and (min-width: 1280px)  {
    padding-top: 250px;
    padding-bottom: 180px;
  }

}

.EventsPage__title{
  font-size: clamp(3.75rem, -0.491rem + 21.205vw, 9.688rem);
  margin-bottom: 64px;
}
