::-webkit-scrollbar {
  display: none;
}

html {
  color: var(--color-font-primary);
  font-family: Bebas-Neue, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 26px 100px 96px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-bg-main);
  font-size: clamp(1rem, 0.84rem + 0.755vw, 1.5rem);
}

h1,
h2,
h3,
h4 {
  font-family: Bebas-Neue;
  line-height: 100%;
}

p,
a {
  font-family: Inter;
  line-height: 150%;
}

span {
  display: inline-block;
  line-height: 100%;
}

#app {
  max-width: 1720px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

main {
  padding-top: 100px;
  flex-grow: 1;
}
