::-webkit-scrollbar {
  display: none;
}

html {
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg-main);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

input, button {
  outline: none;
  background-color: transparent;
  border: none;
}