::-webkit-scrollbar {
  display: none;
}

html {
  color: var(--color-font-primary);
  font-family: Bebas-Neue, sans-serif;
  font-weight: 400;
  font-size: 14px;
  scroll-behavior: smooth;
  @media screen and (min-width: 1680px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-bg-main);
  font-size: clamp(1rem, 0.84rem + 0.755vw, 1.5rem);
}

h1,
h2,
h3,
h4 {
  font-family: Bebas-Neue;
  line-height: 100%;
  font-weight: 700;
}

p {
  font-family: Inter;
  line-height: 150%;
}

span {
  display: inline-block;
  line-height: 100%;
}

summary{
  list-style-type: none;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.page, .container {
  padding: 0 20px;
  max-width: 1720px;
  margin: 0 auto;
  @media screen and (min-width: 786px) {
    padding: 0 40px;
  }

  @media screen and (min-width: 1740px) {
    padding: 0;
  }
}
