:root {
  //color-scheme: light dark;

  /* --------- Global --------- */
  //--color-bg-main: ;
  --color-bg-main: #18181B;
  --color-bg-modal: #1e1e1e;
  --color-accent: rgb(239, 71, 81);
  --color-hover: --;
  --color-font-primary: #222222;
  --color-font-secondaty: #FFFFFF;

  /* --------- Global Modal --------- */
  --transition-properties: --;
  --transition-clip-path-modal: clip-path 1.25s cubic-bezier(0.62, 0.05, 0.01, 0.99);

  /* --------- Swiper --------- */
  --swiper-pagination-bullet-horizontal-gap: --;
  --swiper-pagination-bullet-width: --;
  --swiper-pagination-bullet-height: --;
  --swiper-pagination-bullet-inactive-color: --;
  --swiper-pagination-bullet-inactive-opacity: --;
  --swiper-pagination-color: --;

  /* --------- Scrollbar --------- */
  --color-scrollbar: --;
  --color-scrollbar-thumb: --;

  /* --------- Heading --------- */
  --family-font-heading: --;
  --size-font-main: clamp(13.75rem, 10.179rem + 17.857vw, 16.75rem);
  --size-font-nav: clamp(2.5rem, 0.921rem + 3.289vw, 4.375rem);

  /* --------- UI unit elements --------- */
  --color-ui-unit: #222222;
  --color-ui-unit-hover: var(--color-accent);

  /* --------- // UI accent unit elements --------- */

  /* --------- // UI elements --------- */
  --border-radius-ui-element: 4px;

  --color-ui-element-background: #222222;
  --color-ui-element-background-hover: --;
  --color-ui-element-text: #ffffff;
  --color-ui-element-text-hover: --;
  --color-ui-element-layer-first: --;
  --color-ui-element-layer-second: --;

  /* --------- // UI elements accent --------- */
  --border-radius-ui-element-accent: 16px;

  --color-ui-element-accent-background: #ffffff;
  --color-ui-element-accent-text: #222222;
  --color-ui-element-accent-layer-first: --;

  --color-ui-element-accent-background-hover: #222222;
  --color-ui-element-accent-text-hover: #ffffff;


  /* --------- //// UI Components --------- */
  --color-ui-component-background: --;
  --color-ui-component-layer-first: --;
  --color-ui-component-layer-second: --;

  /* --------- //// UI accent Components --------- */
  --color-ui-component-accent-background: --;
  --color-ui-component-accent-layer-first: --;
  --color-ui-component-accent-layer-second: --;

  /* --------- //// UI Components Additional --------- */
  --color-ui-component-additional-background: --;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
