.AboutPage__mission {
  overflow: hidden;
  padding: 152px 0 15px;
  background: linear-gradient(180.00deg, rgb(236, 236, 236) 3.967%,rgb(199, 199, 199) 99.436%);

  @media screen and (min-width: 768px) {
    padding: 200px 0 27px;
  }

  @media screen and (min-width: 1280px) {
    padding: 252px 0 168px;
  }

  & .page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .AboutPage__description {
    color: var(--color-font-primary);
    @media screen and (min-width: 786px) {
      max-width: 85%;
    }
  }
}

.AboutPage__mission-info {
  @media screen and (min-width: 1280px) {
    width: 50%;
  }
}

.AboutPage__description {
  color: var(--color-font-secondaty);
  margin-top: 24px;
  font-family: Bebas-Neue;
  font-weight: 700;
  font-size: clamp(1.5rem, 0.786rem + 3.571vw, 2.5rem);
  line-height: 140%;
}

.AboutPage__mission-image {
  object-fit: cover;
  width: 100%;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 64px;
    max-width: 728px;
    height: 875px;
  }
  @media screen and (min-width: 1330px) {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateZ(8deg);
  }
}

.AboutPage__target {
  padding: 80px 0 80px;
  @media screen and (min-width: 768px) {
    padding: 120px 0 180px;
  }

  @media screen and (min-width: 1280px) {
    width: 55%;
    margin-left: auto;
  }

  & .TitlePage {
    color: var(--color-font-secondaty);
  }
}

.AboutPage__target-title {

  color: var(--color-font-secondaty);
  font-size: 5rem;
  line-height: 110%;
  font-family: Bebas-Neue;
  font-weight: 700;
}

.AboutPage__target-list {
  margin-bottom: 180px;
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);


  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);

  }
}